<div class="w-full bg-slate-200 flex flex-col justify-center items-center">
  <div class="w-4/5 p-10 m-10 rounded shadow-md bg-white">

      <table class="w-full table-fixed border-collapse ">
        <thead>
          <tr class="bg-slate-200 text-lg">
            <th class="w-1/5 border-x border-slate-600 h-16 text-left px-2 py-1">Naziv pronalaska</th>
            <th class="w-1/5 border-x border-slate-600 h-16 text-left px-2 py-1">Podnosilac prijave</th>
            <th class="w-1/5 border-x border-slate-600 h-16 text-left px-2 py-1">Zastupnik</th>
            <th class="w-1/5 border-x border-slate-600 h-16 text-left px-2 py-1">Datum podnošenja</th>
            <th class="w-1/5 border-x border-slate-600 h-16 text-left px-2 py-1"></th>
          </tr>
        </thead>
        <tbody>
          <tr class="even:bg-slate-100 hover:bg-slate-200">
            <td class="px-2 py-1">The Sliding</td>
            <td class="px-2 py-1">Malcolm Lockyer</td>
            <td class="px-2 py-1">1961</td>
            <td class="px-2 py-1">1961</td>
            <td>
              <button class="btn bg-white hover:bg-gray-100 text-gray-800 font-semibold py-1 px-3 border border-gray-400 rounded shadow w-1/2">html</button>
              <button class="btn bg-white hover:bg-gray-100 text-gray-800 font-semibold py-1 px-3 border border-gray-400 rounded shadow w-1/2">pdf</button>
            </td>
          </tr>
          <tr class="even:bg-slate-100 hover:bg-slate-200">
            <td class="px-2 py-1">The Sliding</td>
            <td class="px-2 py-1">Malcolm Lockyer</td>
            <td class="px-2 py-1">1961</td>
            <td class="px-2 py-1">1961</td>
          </tr>
          <tr class="even:bg-slate-100 hover:bg-slate-200">
            <td class="px-2 py-1">The Sliding</td>
            <td class="px-2 py-1">Malcolm Lockyer</td>
            <td class="px-2 py-1">1961</td>
            <td class="px-2 py-1">1961</td>
          </tr>
          <tr>
            <td>Witchy Woman</td>
            <td>The Eagles</td>
            <td>1972</td>
          </tr>
          <tr>
            <td>Shining Star</td>
            <td>Earth, Wind, and Fire</td>
            <td>1975</td>
          </tr>
        </tbody>
      </table>

  </div>
</div>
