<div class="w-full bg-slate-200 flex flex-col justify-center items-center">
  <div class="w-4/5 p-10 m-10 rounded shadow-md bg-white">

      <table class="w-full table-fixed border-collapse">
        <thead>
          <tr class="bg-slate-300 text-lg">
            <th class="w-1/5 h-16 text-left px-2 py-1 rounded-tl">Naziv pronalaska</th>
            <th class="w-1/5 border-x border-slate-600 h-16 text-left px-2 py-1">Podnosilac prijave</th>
            <th class="w-1/5 border-x border-slate-600 h-16 text-left px-2 py-1">Punomoćnik</th>
            <th class="w-1/5 border-x border-slate-600 h-16 text-left px-2 py-1">Datum podnošenja</th>
            <th class="w-1/5 h-16 text-left px-2 py-1 rounded-tr"></th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let zahtev of zahteviZaPriznanjePatenta; let i = index">
            <tr class="even:bg-slate-100 hover:bg-slate-200">
              <td class="px-2 py-1">{{ zahtev.nazivPronalaska.nazivNaSrpskom }}</td>
              <td class="border-x border-slate-600 px-2 py-1">{{ zahtev.podnosilac.ime }}</td>
              <td class="border-x border-slate-600 px-2 py-1">{{ zahtev.punomocnik.ime }}</td>
              <td class="border-x border-slate-600 px-2 py-1">{{ zahtev.datumPodnosenja.slice(0,10) }}</td>
              <td>
                <button class="btn bg-white hover:bg-gray-100 text-gray-800 font-semibold py-1 px-3 border border-gray-400 rounded shadow w-1/2">{{"<"}}html{{"/>"}}</button>
                <button class="btn bg-white hover:bg-gray-100 text-gray-800 font-semibold py-1 px-3 border border-gray-400 rounded shadow w-1/2">.pdf</button>
              </td>
            </tr>
          </ng-container>

        </tbody>
      </table>

  </div>
</div>
